/* --------------- CSS Reset --------------- */

* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

ul {
  padding: 0rem;
  margin: 0rem;
}

ul li a {
  margin: 0rem;
  padding: 0rem;
  text-decoration: none;
  color: inherit;
}
ul li {
  padding: 0rem;
  margin: 0rem;
  list-style: none;
}

button {
  margin: 0rem;
  padding: 0rem;
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
}

a:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

/* --------------- Color Palette --------------- */
:root {
  --primary: #ed5d95;
  --primary4: #ed5d95;
  --primary3: #f8b5cb;
  --primary5: #762444;
  --primary6: #68002a;
  --primary1: #ffccee;
  --primary2: #f49abc;

  --secondary: #c06a8c;
  --secondary1: #ac3464;
  --secondary2: #8d3e5b;
  --purple: #976f95;
  --blue: #5c72c7;
  --blue2: #95a5ff;
  --blue1: #cedcff;

  --peach: #ff906d;
  --sunsetOrange: #ffb260;
  --orange: #ffd55f;
  --yellow: #f9f871;
  --tamarind: #2a111a;
  --font: #725570;
  --font3: #d8bfd8;
  --font2: #ddd7c6;
  --font1: #ddd7c6;
  --grey: #666666;
  --black: #231017;
}
/* --------------- CSS --------------- */

.container {
  max-width: 90%;
  margin: 0 auto;
}

/* --------------------------------------------------
            Styling Navbar 
-------------------------------------------------- */

#topNav {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fdedf3;
}

#navMenu ul li:nth-child(1) {
  margin-top: 2rem;
}

#navMenu ul li {
  margin-bottom: 1.5rem;
}

.loginBtn {
  border: 2px solid var(--primary4);
  transition: all 0.3 ease;
  border-radius: 20rem;
  padding: 0.5rem 1rem;
}

.loginBtn:hover {
  border: 2px solid transparent;
  background: var(--primary4);
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0rem;
  box-shadow: 0px 15px 10px -19px var(--grey);
}

.logo i {
  font-size: 2rem;
  margin-right: 1rem;
  color: var(--primary4);
}

.logo i:hover {
  cursor: pointer;
  color: var(--peach);
}

.logo img {
  width: 60%;
  margin-left: 0.5rem;
}

/* ----------------- Sidebar menu ----------------- */

.navbarMenu {
  padding-left: 2rem;
  color: var(--grey);
  background-color: #fdedf3;
  overflow-y: scroll;
  z-index: 99;
  width: 100%;
  position: fixed;
  height: 100vh;
  top: 0;
  left: -100%;
  transition: all 0.3s ease-in;
}

.desktopMenu {
  display: none;
}

#navMenu .cross {
  display: flex;
  justify-content: right;
  margin: 2rem 2rem 0rem 0rem;
  font-size: 1.5rem;
  color: var(--primary4);
}

.cross:hover {
  cursor: pointer;
  color: var(--peach);
}

#navMenu ul li a {
  transition: all 0.3 ease;
}

#navMenu ul li a:hover {
  color: var(--primary4);
}

/* ---------------- Styling collection submenu ------------------- */

.collectionSubmenu {
  display: none;
}

.collectionCategoryParent {
  display: flex;
}

.collectionTitle {
  margin-right: 1rem;
}

.expandIcon:hover {
  cursor: pointer;
}

.collectionSubmenu ul li {
  border-bottom: 1px solid white;
  margin: 0rem 1rem;
  padding: 0.5rem 0rem 0.5rem 0.5rem;
  transition: all 0.3s ease-in-out;
}

.collectionSubmenu ul li:hover {
  background-color: white;
}

.rotateIcon {
  transform: rotate(180deg);
}

.show {
  display: block;
}

/* ----------------- Styling search Bar ----------------- */
#bottomNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--secondary);
  padding: 1rem 0.5rem;
}

.searchBar {
  display: flex;
  align-items: center;
  border: 2px solid var(--primary1);
  border-radius: 2rem;
  padding: 0rem 0.8rem;
  height: 2rem;
  margin-right: 1rem;
}

.collectionDropdown {
  display: none;
}

.collectionDDsubmenu {
  display: none;
}

.searchBar i {
  margin-right: 0.5rem;
  color: var(--primary1);
}

.searchBar input {
  border: none;
  outline: none;
  background: none;
  color: white;
  font-style: italic;
}

.navIcons {
  display: flex;
  align-items: center;
  color: var(--primary1);
  font-size: 1.5rem;
}

.navIcon {
  position: relative;
}

.navIcon:not(:last-child) {
  margin-right: 1rem;
}

.navIcon div {
  position: absolute;
  background: var(--peach);
  padding: 0.1rem 0.3rem;
  border-radius: 20rem;
  color: white;
  font-size: 0.8rem;
  top: 0.8rem;
  left: -0.5rem;
}

/* -------------- Media Query for Navbar --------------------- */

@media (min-width: 450px) {
  .logo img {
    width: 50%;
  }

  .searchBar {
    width: 70%;
  }
}

@media (min-width: 650px) {
  .logo img {
    width: 40%;
  }
}

@media (min-width: 768px) {
  .logo img {
    width: 20%;
  }

  .searchBar {
    margin-left: 1rem;
  }
}

@media (min-width: 1024px) {
  .logo img {
    width: 60%;
  }
  .hamburgerMenu {
    display: none;
  }
  #topNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .desktopMenu {
    display: flex;
    justify-content: center;
    color: var(--font);
  }

  .desktopMenu ul {
    display: flex;
    align-items: center;
  }

  .desktopMenu ul li {
    margin-right: 1rem;
    transition: all 0.3s ease-in;
  }

  .desktopMenu ul li:hover {
    color: var(--primary);
  }
  .loginBtn {
    color: var(--grey);
  }

  .collectionDropdown {
    display: flex;
    border-right: 1px solid var(--primary1);
    position: relative;
  }

  .collectionDropdown a {
    color: var(--primary1);
    text-decoration: none;
  }

  .searchBar i {
    margin: 0rem 0.5rem;
  }

  .collectionDDsubmenu {
    position: absolute;
    top: 1.5rem;
    align-items: center;
    left: 0rem;
    z-index: 1;
    width: 100%;
    opacity: 1;
    box-shadow: 2px 5px 8px rgb(51 51 51 / 5%), -2px 5px 8px rgb(51 51 51 / 5%);
    background-color: var(--primary1);
    display: none;
  }

  .collectionDDsubmenu ul li {
    padding: 0.5rem;
    margin: auto;
  }

  .collectionDDsubmenu ul li a {
    color: var(--secondary);
    text-align: center;
    transition: all 0.3s ease-in;
  }

  .collectionDDsubmenu ul li a:hover {
    border-bottom: 2px solid var(--primary1);
  }

  .expandIcon:hover {
    transform: rotate(180deg);
  }

  .collectionDropdown:hover .collectionDDsubmenu {
    display: flex;
  }
}

/* --------------------------- Styling Hero Section ------------------------------- */

.heroImage {
  display: none;
}

.heroWrapper {
  max-width: 85%;
  margin: 0rem auto;
}

.bullet button {
  background-color: var(--primary1);
}
.arrows button {
  color: white;
  background: var(--secondary1);
  border-radius: 100%;
  border: none;
  font-size: 1rem;
  top: 50%;
}

.arrows button:nth-child(1) {
  left: -1rem;
}

.arrows button:nth-child(2) {
  right: -1rem;
}

.glide__slides li {
  background: url("../assests/Vector.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position-y: 30%;
  background-position-x: 40%;

  padding: 2rem;
}

.heroTitle {
  font-size: 0.8rem;
  color: var(--purple);
}

.heroHeading {
  font-size: 1.2rem;
  color: var(--primary5);
  margin: 1rem 0rem;
}

.heroDescription {
  font-size: 0.9rem;
  color: var(--font);
}

.shopNowBtn {
  border: 2px solid var(--secondary1);
  border-radius: 20rem;
  width: 70%;
  padding: 0.8rem 1rem;
  margin: 2rem 0rem;
  margin-bottom: 3rem;
  transition: all 0.3s ease-in;
}

.shopNowBtn a button {
  display: flex;
  align-items: center;
  color: var(--secondary);
}

.shopNowBtn:hover {
  border: 2px solid transparent;
  background-color: var(--secondary1);
}

.shopNowBtn a button p {
  margin-right: 1rem;
}

.bullet.glide__bullet--active button {
  background-color: var(--primary4);
}

.bullet.glide__bullet--active {
  background: transparent;
}

/* ------------------------ Hero Section Media Query --------------------- */

@media (min-width: 400px) {
  .shopNowBtn {
    width: 60%;
  }
}

@media (min-width: 550px) {
  .glide__slides li {
    background-size: 60%;
    background-position-y: 30%;
    background-position-x: 30%;
  }
}

@media (min-width: 700px) {
  .glide__slides li {
    background-size: 50%;
    background-position-y: 50%;
    background-position-x: 30%;
  }
}

@media (min-width: 600px) {
  .shopNowBtn {
    width: 35%;
  }
}

@media (min-width: 770px) {
  .shopNowBtn {
    width: 50%;
  }
  .glide__slides li {
    background: none;
  }

  .heroImage {
    display: block;
  }

  .heroSlider .glide__slide {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
  }

  .heroImage {
    display: flex;
    align-items: center;
    justify-content: right;
  }
  .heroImage img {
    width: 70%;
  }
}

@media (min-width: 930px) {
  .shopNowBtn {
    width: 40%;
  }
}

@media (min-width: 1100px) {
  .shopNowBtn {
    width: 35%;
  }
}

@media (min-width: 1200px) {
  .heroImage img {
    width: 60%;
  }
}

/* -----------------------------------------------------------
                  Styling ProductImage Slider 
-------------------------------------------------------------- */

.productSlideTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ourProducts {
  color: var(--secondary1);
  font-size: 1.4rem;
}
.floral img {
  width: 4rem;
}

.floral:first-of-type {
  transform: rotateY(180deg);
}

main {
  margin-top: 2rem;
}

.productSlider ul li {
  background: none;
}

.productCardImage img {
  width: 100%;
  margin: auto;
}

.productCard {
  position: relative;
}

.productCardText {
  position: absolute;
  bottom: 0%;
  background: var(--tamarind);
  display: block;
  width: 100%;
  color: white;
  padding: 0.5rem 1rem;
  font-family: "Poppins", sans-serif;
}

.productCardLink a {
  text-decoration: underline;
  color: var(--purple);
}

.productCardPrice {
  font-size: 0.9rem;
  font-style: italic;
  margin: 0.3rem 0rem;
}

.productCardInfo {
  display: flex;
  justify-content: space-between;
}

.productCardIcons {
  display: flex;
  flex-direction: column;
}

.productCardIcons i:first-of-type {
  margin-bottom: 1rem;
}

.productCardIcons i {
  transition: all 0.3s ease-in;
}
.productCardIcons i:hover {
  color: var(--orange);
}

.productArrows button {
  border: none;
  top: 100%;
  background: var(--primary2);
}

.productArrows button i {
  color: var(--primary6);
}

.productCard:hover .productCardImage {
  transform: scale(1.1);
}

@media (min-width: 426px) {
  .productSlider div ul li {
    position: relative;
    margin: 2rem 0.5rem;
    padding: 0rem;
  }

  .productCardText {
    width: 90%;
  }

  .productCardImage img {
    width: 90%;
  }

  .ourProducts {
    font-size: 2rem;
  }

  main {
    margin-top: 8rem;
  }
}

/* ----------------------------------------------------
            Styling collection Section 
-------------------------------------------- */

.collections {
  margin-top: 5rem;
}

.collectionGridHolder {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

#collectionGrid-1 {
  background: var(--secondary);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.collectionWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  background: rgb(237, 93, 149);
  background: rgb(237, 93, 149);
  background: rgb(237, 93, 149);
  background: linear-gradient(
    10deg,
    rgba(237, 93, 149, 0.7763480392156863) 9%,
    rgba(248, 181, 203, 0.6895133053221288) 25%,
    rgba(255, 204, 238, 0.6250875350140056) 40%,
    rgba(244, 154, 188, 0) 55%
  );
}

.collectionImage {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0rem;
  float: right;
  transition: all 0.5s ease-in-out;
  background: linear-gradient(
    90deg,
    rgba(237, 93, 149, 1) 14%,
    rgba(248, 181, 203, 1) 42%,
    rgba(255, 204, 238, 0.6250875350140056) 57%,
    rgba(244, 154, 188, 0.3449754901960784) 79%
  );
  opacity: 0.8;
}

.collectionWrapper {
  width: 100%;
  height: 23rem;
}
.collectionImage img {
  width: 100%;
}
.collectionWrapper:hover .collectionImage {
  transform: scale(1.1);
}

.collectionText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.collectionGridTitle {
  text-align: center;
  padding: 1rem 0.5rem;
}

.collectionGridTitle h3 {
  font-size: 2rem;
}

.collectionGridTitle p {
  font-size: 0.8rem;
  margin: 1rem 0rem;
  color: var(--primary1);
}

.collectionGridTitle a button {
  border: 2px solid var(--primary3);
  color: var(--primary1);
  padding: 0.8rem;
  transition: all 0.3s ease-in;
}

.collectionGridTitle a button:hover {
  text-decoration: underline;
}

.collectionText h3 {
  color: var(--tamarind);
  font-size: 1.5rem;
}

.collectionText p {
  color: white;
  font-style: italic;
}

.collectionText a {
  text-decoration: none;
  color: var(--primary5);
  transition: all 0.3 ease-in;
}

.collectionText a:hover {
  text-decoration: underline;
}

/* ---------------------- collections media ------------------- */

@media (min-width: 768px) {
  .collectionGridHolder {
    grid-template-columns: [c1] 1fr [c2] 1fr [c3] 1fr [c4] 1fr [c5] 1fr;
    grid-template-rows: [r1] 1fr [r2] 1fr [r3] 1fr;
  }

  #collectionGrid-2 {
    grid-column: c3 / c6;
    grid-row: r1 / r2;
  }

  #collectionGrid-3 {
    grid-column: c1 / c4;
    grid-row: r2 / r3;
  }

  #collectionGrid-1 {
    grid-column: c1 / c3;
    grid-row: r1 / r2;
  }

  #collectionGrid-4 {
    grid-column: c4 / c6;
    grid-row: r2 / r3;
  }

  #collectionGrid-5 {
    grid-column: c1 / c6;
    grid-row: r3 / r4;
    height: 15rem;
  }
}

/* ----------------------------------------------------
            Styling Selling Points Section 
-------------------------------------------- */

.sellingPoints {
  margin-top: 2rem;
  padding: 2rem 1rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1064%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(192%2c 106%2c 140%2c 1)'%3e%3c/rect%3e%3cuse xlink:href='%23SvgjsSymbol1071' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1071' x='720' y='0'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1064'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1069'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1066'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1067'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1068'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1065'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1070'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1071'%3e%3cuse xlink:href='%23SvgjsPath1065' x='30' y='30' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1066' x='30' y='90' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1067' x='30' y='150' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1065' x='30' y='210' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1066' x='30' y='270' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1066' x='30' y='330' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1065' x='30' y='390' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1067' x='30' y='450' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1067' x='30' y='510' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1067' x='30' y='570' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1066' x='90' y='30' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1065' x='90' y='90' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1066' x='90' y='150' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1067' x='90' y='210' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1067' x='90' y='270' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1065' x='90' y='330' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1065' x='90' y='390' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1067' x='90' y='450' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1065' x='90' y='510' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1065' x='90' y='570' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1065' x='150' y='30' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1065' x='150' y='90' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1068' x='150' y='150' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1065' x='150' y='210' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1068' x='150' y='270' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1065' x='150' y='330' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1065' x='150' y='390' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1068' x='150' y='450' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1068' x='150' y='510' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1066' x='150' y='570' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1067' x='210' y='30' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1065' x='210' y='90' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1067' x='210' y='150' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1067' x='210' y='210' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1065' x='210' y='270' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1069' x='210' y='330' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1070' x='210' y='390' stroke='rgba(255%2c 204%2c 238%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1067' x='210' y='450' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1065' x='210' y='510' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1067' x='210' y='570' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1065' x='270' y='30' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1068' x='270' y='90' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1068' x='270' y='150' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1067' x='270' y='210' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1066' x='270' y='270' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1067' x='270' y='330' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1065' x='270' y='390' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1066' x='270' y='450' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1067' x='270' y='510' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1067' x='270' y='570' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1066' x='330' y='30' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1067' x='330' y='90' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1067' x='330' y='150' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1069' x='330' y='210' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1068' x='330' y='270' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1065' x='330' y='330' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1068' x='330' y='390' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1069' x='330' y='450' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1066' x='330' y='510' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1067' x='330' y='570' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1069' x='390' y='30' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1066' x='390' y='90' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1067' x='390' y='150' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1069' x='390' y='210' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1067' x='390' y='270' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1065' x='390' y='330' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1066' x='390' y='390' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1068' x='390' y='450' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1067' x='390' y='510' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1067' x='390' y='570' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1065' x='450' y='30' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1069' x='450' y='90' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1067' x='450' y='150' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1065' x='450' y='210' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1066' x='450' y='270' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1069' x='450' y='330' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1066' x='450' y='390' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1067' x='450' y='450' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1067' x='450' y='510' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1067' x='450' y='570' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1066' x='510' y='30' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1065' x='510' y='90' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1066' x='510' y='150' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1067' x='510' y='210' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1065' x='510' y='270' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1065' x='510' y='330' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1067' x='510' y='390' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1067' x='510' y='450' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1065' x='510' y='510' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1065' x='510' y='570' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1069' x='570' y='30' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1065' x='570' y='90' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1065' x='570' y='150' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1068' x='570' y='210' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1065' x='570' y='270' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1067' x='570' y='330' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1068' x='570' y='390' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1067' x='570' y='450' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1067' x='570' y='510' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1065' x='570' y='570' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1066' x='630' y='30' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1070' x='630' y='90' stroke='rgba(255%2c 204%2c 238%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1069' x='630' y='150' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1065' x='630' y='210' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1065' x='630' y='270' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1065' x='630' y='330' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1067' x='630' y='390' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1067' x='630' y='450' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1069' x='630' y='510' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1066' x='630' y='570' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1066' x='690' y='30' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1067' x='690' y='90' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1065' x='690' y='150' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1069' x='690' y='210' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1068' x='690' y='270' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1065' x='690' y='330' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1065' x='690' y='390' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1068' x='690' y='450' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1067' x='690' y='510' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1069' x='690' y='570' stroke='rgba(255%2c 204%2c 238%2c 1)'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
}

.spTitle {
  font-size: 1.8rem;
  color: var(--primary1);
  text-align: center;
}

.spTitle span {
  color: var(--primary6);
}

.spGridHolder {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow-x: scroll;
  grid-gap: 1rem;
  margin: 1.5rem 1rem;
}

.spGrid {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 12rem;
  padding-bottom: 0.5rem;
}

.spImage {
  font-size: 5rem;
  color: var(--primary3);
}

.spText h3 {
  color: var(--tamarind);
}

.spText p {
  color: white;
  margin: 0.5rem 0rem;
}

@media (min-width: 1024px) {
  .spGridHolder {
    overflow-x: hidden;
  }
}

/* ----------------------------------------------------
            Styling Footer Section 
-------------------------------------------- */

#footerGrid-1 img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 15px 10px -19px var(--grey);
}

footer {
  margin-top: 4rem;
}
.footerGridHolder {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.promoTitle {
  margin-bottom: 1rem;
}

.promoText {
  margin: 1rem 0rem;
}

.promoText p:nth-child(1) {
  color: var(--primary);
}

.promoText p:nth-child(2) {
  color: var(--grey);
}

.quickLinkGridHolder {
  display: grid;
  grid-template-columns: 1fr;
}

.quickLinkGridHolder div {
  display: grid;
  grid-template-columns: 1fr;
}

.quickLinkGridHolder div a {
  text-decoration: none;
  color: #929090;
  transition: all 0.3s ease-in;
  margin-bottom: 1rem;
}

.quickLinkGridHolder div a:hover {
  color: var(--primary3);
}

.quickLink {
  margin-bottom: 1rem;
}

.contactUs {
  text-transform: uppercase;
}

.contactUsGridHolder {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 1rem;
}

.contactInfo {
  display: flex;
  color: var(--black);
  align-items: center;
  margin-bottom: 1rem;
}

.contactInfo i {
  margin-right: 1rem;
  color: var(--primary);
  font-size: 1.4rem;
}

.emailForm {
  display: flex;
  border: 1px solid var(--grey);
  justify-content: space-between;
  padding: 0.1rem;
  border-radius: 12px;
  margin-top: 2rem;
}
.emailForm input {
  border: none;
  padding: 0.5rem;
}

.emailForm a button {
  background: var(--primary);
  color: white;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  padding: 0.6rem;
}

.topFooter {
  border-bottom: 1px solid #ccc;
  padding-bottom: 2rem;
}

.bottomFooter {
  margin: 1rem 0rem;
  color: var(--grey);
  text-align: center;
}

/* ------------------------ Media for footer ------------------ */

@media (min-width: 768px) {
  .quickLinkGridHolder {
    grid-template-columns: repeat(2, 1fr);
  }

  #footerGrid-1 {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .footerGridHolder {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }

  #footerGrid-1 {
    width: 100%;
  }
}
