/* --------------- CSS Reset --------------- */

* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

ul {
  padding: 0rem;
  margin: 0rem;
}

ul li a {
  margin: 0rem;
  padding: 0rem;
  text-decoration: none;
  color: inherit;
}
ul li {
  padding: 0rem;
  margin: 0rem;
  list-style: none;
}

button {
  margin: 0rem;
  padding: 0rem;
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
}

a {
  cursor: pointer;
}

body {
  height: 1000rem;
}

/* --------------- Color Palette --------------- */
:root {
  --primary: #ed5d95;
  --primary4: #ed5d95;
  --primary3: #f8b5cb;
  --primary5: #762444;
  --primary6: #68002a;
  --primary1: #ffccee;
  --primary2: #f49abc;

  --secondary: #c06a8c;
  --secondary1: #ac3464;
  --secondary2: #8d3e5b;
  --purple: #976f95;
  --blue: #5c72c7;
  --blue2: #95a5ff;
  --blue1: #cedcff;

  --peach: #ff906d;
  --sunsetOrange: #ffb260;
  --orange: #ffd55f;
  --yellow: #f9f871;
  --tamarind: #2a111a;
  --font: #725570;
  --font3: #d8bfd8;
  --font2: #ddd7c6;
  --font1: #ddd7c6;
  --grey: #666666;
  --black: #231017;
}
/* --------------- CSS --------------- */

.container {
  max-width: 90%;
  margin: 0 auto;
}

/* --------------------------------------------------
            Styling Navbar 
-------------------------------------------------- */

#topNav {
  display: flex;
  flex-direction: column;
}

#navMenu ul li:nth-child(1) {
  margin-top: 2rem;
}

#navMenu ul li {
  margin-bottom: 1.5rem;
}

.loginBtn {
  border: 2px solid var(--primary4);
  transition: all 0.3 ease;
  border-radius: 20rem;
  padding: 0.5rem 1rem;
}

.loginBtn:hover {
  border: 2px solid transparent;
  background: var(--primary4);
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fdedf3;
  padding: 0.5rem 0rem;
  margin: auto;
  box-shadow: 0px 15px 10px -19px var(--grey);
}

.logo i {
  font-size: 2rem;
  margin-right: 1rem;
  color: var(--primary4);
}

.logo i:hover {
  cursor: pointer;
  color: var(--peach);
}

.logo img {
  width: 65%;
  margin-left: 0.5rem;
}

/* ----------------- Sidebar menu ----------------- */

.navbarMenu {
  padding-left: 2rem;
  color: var(--grey);
  background-color: #fdedf3;
  overflow-y: scroll;
  z-index: 99;
  width: 100%;
  position: fixed;
  height: 100vh;
  top: 0;
  left: -100%;
  transition: all 0.3s ease-in;
}

#navMenu .cross {
  display: flex;
  justify-content: right;
  margin: 2rem 2rem 0rem 0rem;
  font-size: 1.5rem;
  color: var(--primary4);
}

.cross:hover {
  cursor: pointer;
  color: var(--peach);
}

#navMenu ul li a {
  transition: all 0.3 ease;
}

#navMenu ul li a:hover {
  color: var(--primary4);
}

/* ---------------- Styling collection submenu ------------------- */

.collectionSubmenu {
  display: none;
}

.collectionCategoryParent {
  display: flex;
}

.collectionTitle {
  margin-right: 1rem;
}

.expandIcon:hover {
  cursor: pointer;
}

.collectionSubmenu ul li {
  border-bottom: 1px solid white;
  margin: 0rem 1rem;
  padding: 0.5rem 0rem 0.5rem 0.5rem;
  transition: all 0.3s ease-in-out;
}

.collectionSubmenu ul li:hover {
  background-color: white;
}

.rotateIcon {
  transform: rotate(180deg);
}

.show {
  display: block;
}

/* ----------------- Styling search Bar ----------------- */
#bottomNav {
  display: flex;
  align-items: center;
  background: var(--secondary);
  padding: 1rem 0.5rem;
  margin: auto;
}

.searchBar {
  display: flex;
  align-items: center;
  border: 2px solid var(--primary1);
  border-radius: 2rem;
  padding: 0rem 0.8rem;
  height: 2rem;
  margin-right: 1.5rem;
}

.searchBar i {
  margin-right: 0.5rem;
  color: var(--primary1);
}

.searchBar input {
  border: none;
  outline: none;
  background: none;
  color: white;
  font-style: italic;
}

.navIcons {
  display: flex;
  align-items: center;
  color: var(--primary1);
  font-size: 1.5rem;
}

.navIcon {
  position: relative;
  margin-right: 1rem;
}

.navIcon div {
  position: absolute;
  background: var(--peach);
  padding: 0.1rem 0.3rem;
  border-radius: 20rem;
  color: white;
  font-size: 0.8rem;
  top: 0.8rem;
  left: 0.8rem;
}
